pandas
seaborn
numpy
datetime
click
sklearn
scipy
matplotlib
Flask
Flask-API
itsdangerous
Jinja2
MarkupSafe
Werkzeug
pytesseract
tesseract
tensorflow==1.15.2
opencv-python==3.4.0.12
cmake
dlib==19.4
imutils
scikit-image
Keras==2.2.5
