pandas
seaborn
numpy
datetime
click
sklearn
scipy
matplotlib
Flask
Flask-API
itsdangerous
Jinja2
MarkupSafe
Werkzeug
pytesseract
tesseract
tensorflow
opencv-python==3.2.0.8
cmake
dlib
imutils
scikit-image
Keras==2.2.5
