pandas
seaborn
numpy
datetime
click
sklearn
scipy
matplotlib
Flask
Flask-API
itsdangerous
Jinja2
MarkupSafe
Werkzeug
pytesseract
tesseract
tensorflow==2.3.1
opencv-python==3.2.0.8
cmake
dlib==19.4
imutils
scikit-image
Keras==2.2.5
